/* CSS declarations go here */
body{
/*	background: url('bg-gradient.png') fixed top center;*/
	/*background: #fafbfc;*/
	color: #312333;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
	margin-top: 30px;
	margin-left: 50px;
	background-color: transparent;
}

#searchBox {
	margin-top:10px;
}

h1 a#homeLink{
	color: #312333;
}

h1 a#homeLink:hover{
	text-decoration: none;
	border-bottom: 2px solid #333;
}

#login-buttons a {
	color:#312333;
}


.welcomeText {
	margin-top:5px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-top: 1px #dedede solid;
	border-bottom: 1px #dedede solid;
}

#dropzone {
	color: #777;
	border: 0px dashed #ccc;
	border-radius: 10px;
	background-color: #ededee;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 25px;
	height:70px;
	text-align: center;
	text-shadow:0px 1px #fff;
	/*box-shadow: 0px 5px 10px -8px #334455;*/
}

#dropzone.focused {
    border: 0px solid #8899bb;
    /*box-shadow: 2px 1px 20px #1199dd inset;*/
    background-color: #bbeeff;
    color: #3388bb;
    text-shadow:0px 1px #ddeeff;
}
/*.thumbnails > li {
	margin-left: 0;
	margin-bottom: 0;
}*/

#commentList{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-top: 20px;
}
#commentList li{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
#commentList li:last-child{
	border-bottom: 0px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
.comment-content{
	width:85%;
	display: block;
}

.commentAuthor{
	font-size: 11px;
	color:rgb(200, 200, 200); /*This is kind of a nice salmon color color:rgb(256, 140, 160);*/
}

#commentForm{
	margin-bottom: 35px;
}


/* ----------------------------	
	The List
---------------------------- */
.thumbnail-info{
	line-height: 24px;
}


ul.theList{
	list-style: none;
}

.theList li{
	padding:16px 10px 20px 10px;
	font-size: 22px;
	cursor: pointer;
	color: #968f97;
	position: relative;

		-webkit-transition: height 0.3s ease;
		-moz-transition: height 0.3s ease;
		-o-transition: height 0.3s ease;
		transition: height 0.3s ease;
}

.theList li:hover{
	color: #312333;
}

.theList li.selected{
	color: #312333;
	background: #fff;
	border-bottom: 3px #312333 solid;
}

.theList li img {
	margin-top: 20px;
	max-width: 1000%;
}

.theList .title{
	font-weight: normal;
}
.titleInfo{
	font-size: 11px;
}

.owner {
	text-transform: capitalize;
	font-weight: bold;
	/*color:#312333;*/
}

.theList li .delete{
	display: none;
}

.theList li:hover .delete{
	display: block;
	position: absolute;
	left:-10px;
	top:15px;
	cursor: pointer;
	font-weight:bold;
	color:#ddd;
	margin-right: 3px;
	padding: 0;
}

.theList li:hover .delete:hover {
	color:#ef5a00;
}





.delete {

	float:right;
	cursor: pointer;
	font-family: helvetica;
	font-weight:normal;
	color:#ddd;
	margin-right: 3px;
	padding: 0;
}

.delete:hover {
	color:#ef5a00;
}

/*------------------------------------------
	Bootstrap wrestling
------------------------------------------*/
.btn-primary{
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #08C, #04C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	background-image: -o-linear-gradient(top, #08C, #04C);
	background-image: linear-gradient(to bottom, #08C, #04C);
	background-repeat: repeat-x;
	border-color: #04C #04C #002A80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}






.tiny{
	font-size: 7px;
}

.hidden{
	display: none;
}




/*------------------------------------------
	Title editing mode styles
------------------------------------------*/

.edit .title-input, .edit .title-input:focus{
	border:none;
	box-shadow: none;
	float:left;
	font-family: helvetica, arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	padding:0;
	padding-bottom:15px;
	margin: 0;
	color: #ef5a00;

}

::selection {
	background: #333; /* Safari */
	}
::-moz-selection {
	background: #ffb7b7; /* Firefox */
}

/*.edit .title-input::after{
	content:"/";
}*/



.newTag{
	cursor: pointer;
	font-weight: bold;
}


/*------------------------------------------
	Custom Scrollbar
------------------------------------------*/

/* For IE */

body{scrollbar-face-color: rgba(0,0,0,0.3);
scrollbar-shadow-color: transparent;
scrollbar-highlight-color: transparent;
scrollbar-3dlight-color: transparent;
scrollbar-darkshadow-color: transparent;
scrollbar-track-color: transparent;
scrollbar-arrow-color: transparent;
}


/* For Webkit */

html {
    overflow: auto;
}
body {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 1px;
    right: 1px;
    padding: 10px; 
    overflow-y: scroll;
    overflow-x: scroll;
}

/* Let's get this party started */
::-webkit-scrollbar{
	/* For vertical bar*/
    width: 10px;

    /* For horizontal bar*/
    height: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px transparent; 
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 4px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.0); 
}


